[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
picamera = "*"
opencv-python = "*"
pyqt5 = "*"
gpiozero = "*"
serial = "*"
yappi = "*"

[dev-packages]

[requires]
python_version = "3.9"

[rasp]
adafruit-circuitpython-bno055 = "*"
smbus2 = "*"
